

body{
    background-color: var(--c-dark);
    color: var(--c-wheat-light);
}

h1{
    font-size: 40px;
    margin: 20px 0;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tags-wrapper{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form p{
    margin-top: 10px;
}

#images-wrapper{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#images-wrapper img{
    max-width: 400px;
    margin: 10px;
}

#images-wrapper img:hover{
    opacity: 0.85;
}

#images-wrapper img:active{
    opacity: 0.7;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--c-green-light);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--c-green-light);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}

  /* Responsive:
0px to 575px Small Devices (Tablets);
Breakpoint: 576px to 767px Medium Devices (Tablets and Small Laptops);
Breakpoint: 768px to 991px Large Devices (Desktops and Large Laptops);
Breakpoint: 992px to 1199px Extra Large Devices */

@media (max-width: 1300px){
    #images-wrapper img{
        max-width: 300px;
    }
}

@media (max-width: 991px){
    #images-wrapper{
        grid-template-columns: auto auto;
    }
    #images-wrapper img{
        max-width: 350px;
    }
}

@media (max-width: 767px){
  h1{
      margin-top: 100px;
  }
  #images-wrapper img{
      max-width: 250px;
  }
}


@media (max-width: 575px){
  h1{
      font-size: 32px;
  }
  #images-wrapper{
      grid-template-columns: auto;
  }
  #images-wrapper a{
      text-align: center;
  }
  #images-wrapper img{
      max-width: 90%;
  }
}