body{
    background-color: var(--c-dark);
    color: var(--c-wheat-light);
}

h1{
    font-size: 64px;
}

p{
    font-size: 20px;
    margin-bottom: 30px;
}


.index-wrapper{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}