<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/api_quote.css') }}">

    <title>API Quote Generator</title>
</head>
<body>
    <!-- Background effect -->
    <div id="bg-effect-glow-wrapper">
        <div id="bg-effect-glow"></div>
    </div>
    <div id="bg-effect"></div>

    <div class="container main-wrapper">
        <h1>API Quote Generator</h1>
        <form id="quote-form">
            <p>Background image:</p>
            <label class="switch">
                <input type="checkbox" id="background">
                <span class="slider round"></span>
            </label>
            <div id="tags-wrapper">
                <p>Write some tags e.g. nature,sky...</p>
                <input type="text" id="tags">
            </div>
            <p>Font:</p>
            <select name="font" id="font">
                {% for i in range(fonts|length) %}
                    <option value="{{ i }}">{{ fonts[i] }}</option>
                {% endfor %}
            </select>
            <a onclick="getImage()" id="submit-button" class="button">Get Random Quote</a>
        </form>
        <div id="images-wrapper"></div>
    </div>

    <script src="{{ url_for('static', filename='js/api_quote.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>bgFollowMouse();</script>
</body>
</html>