<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/index.css">

    <title>Quote Generator</title>
</head>
<body>
    <div class="container index-wrapper">
        <h1>Quote Generator</h1>
        <p>Generate random quotes using AI or API</p>
        <a href="/api_quote">API Quote Generator</a>
        <a href="/ai_quote">AI Quote Generator</a>
    </div>
</html>