<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <title>Quote Generator</title>
</head>
<body>
    <!-- Background effect -->
    <div id="bg-effect-glow-wrapper">
        <div id="bg-effect-glow"></div>
    </div>
    <div id="bg-effect"></div>

    <div class="container index-wrapper">
        <h1>Quote Generator</h1>
        <p>Generate random quotes using AI or API</p>
        <a href="/api_quote" class="button">API Quote Generator</a>
        <a href="/ai_quote" class="button">AI Quote Generator</a>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>bgFollowMouse();</script>
</html>